.box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 150px 150px 50px
  
  padding-left 600px;
  gap: 20px;
}
header{
  font-size: xx-large;
  color: white;
  text-align: center;
  grid-column: 1/-1;
  /* grid-row: 1/2; */
  padding: 2rem;
  margin-top: 18px;
  background-color: #02B9AB;
}
nav{
  font-size: xx-large;
  color: white;
  text-align: center;
 /* grid-row: 2/5; */
 padding: 150px;
 background-color: #6BD46B;
 
}
.parent{
  background-color: aqua;
  width: 50%;
  height: 600px;
  border-radius: 15px;
}

main{
  font-size: xx-large;
  color: white;
  text-align: center ;
  grid-column: 2 / 4;
  /* grid-row: 2/7; */
  /* padding:50px; */
  background-color: #F3AA4A;
  /* height: 150px; */
  /* margin-left: 55px; */
}

footer{
  font-size: xx-large;
  color: white;
  text-align: center;
  grid-column: 1/-1;
  padding: 2rem;
  background-color: #02B9AB;
  margin-bottom: 25px;
}
p{
  align-self: center;
}
.images{
display: flex;
flex-direction: row;
width: 50px;
height: 120px;
align-content: end;
margin-left: 80px;
}
