div{
    color: white;
    font-size: xx-large;
    text-align: center;
}
p{
    font-size: medium;
}
.box{
    display: grid;
    row-gap: 5px;
    background-color: gainsboro;
    border: solid 1px white;
    border-radius: 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 190px 190px 100px 50px;
}
.section1{
    background-color: greenyellow;
    height: 40px;
    grid-column: 1 / -1;
}
.section2{
    background-color: #05C9E2;
}
.maincontent{
    background-color: burlywood;
    margin-bottom: 7px;
    height: 250px;
}
.content{
    grid-column: 2 / -1;

}
.extracontent{
    height: 120px;
    background-color: #A48092;
}
.section3{
    background-color: #495A2A;
}
.relatedimages{
    background-color: #308186;
    grid-row: 4;
    grid-column: 1 / -2;
}
.relatedposts{
    background-color: crimson;
    grid-row: 4;
}
.footer{
    background-color: #3867FC;
    grid-row: 5;
    grid-column: 1 / -1;
}