
.container{
    flex-direction: column;
    background: linear-gradient();
    background: #E7E7E7;
}
.cont2{
    display: flex;
    background: #E7E7E7;
    gap: 5px;
    border: grey;
}
.cont3{
    display: flex;
    background: #E7E7E7;
}
.cont4{
    display: flex;
    background: #E7E7E7;
}